#!/bin/sh
curl -k -vvv -u {{ nios_provider.username }}:{{ nios_provider.password }} -H 'content-type:application/json' -X POST "https://{{ nios_provider.host }}/wapi/{{ wapi_version }}/request" -d '[{"method": "POST","object": "member","data": {"host_name": "{{ master_candidate_name }}","vip_setting": {"address": "{{ master_candidate_address }}","gateway": "{{ master_candidate_gateway }}","subnet_mask": "{{ master_candidate_subnet_mask }}"},"config_addr_type": "IPV4","platform": "VNIOS"},"assign_state": {"member_ref": "_ref"},"enable_substitution": true, "discard": true}, {"method": "PUT","object": "##STATE:member_ref:##","enable_substitution": true,"data": {"pre_provisioning":{"hardware_info": [{"hwtype": "{{ hwtype }}"}],"licenses": ["dhcp","dns","enterprise","nios"]}}},{"method": "STATE:DISPLAY"}]'
