#!/bin/sh

# Lab 6 Task 1 Solution
#
# This script uses curl to create the authoritative reverse zone for {{ ansible_subnet }}
#
# Copyright (C) 2018 Infoblox. All Rights Reserved.

curl -k -u {{ nios_provider.username }}:{{ nios_provider.password }} -H 'Content-Type:application/json' \
 -X POST 'https://{{ nios_provider.host }}/wapi/{{ wapi_version }}/zone_auth' \
 --data '{"fqdn":"{{ ansible_subnet }}","zone_format":"IPV4"}'
